* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color:#dfd6a7ff;
}

.menuqs{
    background: #f7cd59;
    padding-block: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.mainqs{
    background-color: #f7cd59;
}
.menupro{
    background: #f7b059;
    padding-block: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.mainpro{
    background-color: #f7b059;
}
.menupre{
    background: #af9c46;
    padding-block: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.mainpre {
    background-color: #af9c46;
}
.menucon{
    background: #1f1300;
    padding-block: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.maincon{
    background-color: #1f1300;
}
footer{
    background-color: #1f1300ff;
    padding: 15px;
    text-align: center;
    margin-top: 5px;
}
.foot{
    color: #ffffff;
    font-size: 30px;
    padding: 10px;
}
.ul{
    display: inline-block;
    margin-inline: 15px;
}
.house{
    color: orange;
    font-size: 30px;
}
.ul a{
    color: #ffffff;
    text-decoration: none;
}
.ul.active a, .ul a:hover{
    text-decoration: underline;
}


.proyectos{
    width: 25%;
}
.logocontacto{
    width: 300px;
    margin-top: 30px;
    display: inline-block;
}
.form{
    display: inline-block;
}

.contenedor {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
    "caja1 caja1 caja1 caja1"
    "caja2 caja3 caja4 caja5";
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

.caja {
    display: flex;
    justify-content: center;
    align-items: center;
}


.caja1 {
    grid-area: caja1;
    background-color:#dfd5a5 ;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.caja2 {
     grid-area: caja2;
     background-color: #f7cd59;
}
.caja3 {
     grid-area: caja3;
     background-color: #f7b059;
}
.caja4 {
     grid-area: caja4;
     background-color: #af9c46;
}
.caja5 {
     grid-area: caja5;
     background-color:#1f1300;
}













