* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color:#dfd6a7ff;
    
}
/*PROYECTOS*/
.sec-proyecto {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sec-proyecto img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.sec-proyecto img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
/*PROYECTOS*/
footer{
    background-color: #1f1300ff;
    padding: 15px;
    text-align: center;
    margin-top: 5px;
}
.foot{
    color: #ffffff;
    font-size: 30px;
    padding: 10px;
}
/*INDEX*/
.contenedor {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
    "caja1 caja1 caja1 caja1"
    "caja2 caja3 caja4 caja5";
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
.contenedor a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.877);

}
.contenedor a:hover{
    color: #ffffff;
}
.caja {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.caja1 {
    grid-area: caja1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(../imagenes/img4.jpeg);
    object-fit: contain;
    background-position: center;
    
}
.caja1 a:hover{
    background-color: #1f1300b0;
    color:#ffffff;
}
.caja2 {
     grid-area: caja2;
     background-color: #f7cd59;
}
.caja3 {
     grid-area: caja3;
     background-color: #f7b059;
}
.caja4 {
     grid-area: caja4;
     background-color: #af9c46;
}
.caja5 {
     grid-area: caja5;
     background-color:#1f1300e7;
}

/*INDEX*/


@media screen and (max-width: 760px) {
    .contenedor {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "caja1 caja1"
        "caja2 caja3"
        "caja4 caja5"
        ;
    }
}

@media screen and (max-width: 480px) {

    .contenedor {
       height: 100vh;
       display: flex;
       flex-direction: column;
    }
    .caja {
        flex: 1;
    }
    .caja1 {
        flex: 2;
    }
    
}












