
.contacto-main {
    
    -webkit-animation:color-change-2x 2s linear infinite alternate both;
    animation:color-change-2x 2s linear infinite alternate both;
}
 @media screen and ( min-width: 760px) {
   
    .mapa {
        width: 300px;
        height: 500px;
    }
    
 }






 @-webkit-keyframes color-change-2x{0%{background:#79999b}100%{background:#d49bf5}}
 @keyframes color-change-2x{0%{background:#79999b}100%{background:#d49bf5}}