footer{
    background-color: #000;
    padding: 15px;
    text-align: center;
    

    
    .foot {
        color: #ffffff;
        font-size: 30px;
        padding: 10px;
    
    }
    a {
        text-decoration: none;
        color:#ffffff;
        transition: transform 0.3s;
        margin: 10px;

        &:hover {
            transform:scale(1.1);
        }
    }

    .footer__logo {
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-size: 20px;
        transition: transform 0.3s;

        &:hover {
            transform:scale(1.1);
        }
    }

    .footer__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
}

hr {
    color: #ffffff;
    
}

@media screen and (max-width: 480px) {
    .footer__menu {
        flex-direction: column;
        align-items:center;
    }
}
