.texto {
    -webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;
    animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;
    animation-delay: .8s;
}

.imagen {
    -webkit-animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;
    animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;

   
}





 @-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}
 @keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}


@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}